{% extends "base_admin.html" %}
{% block content %}
<div class="title">Editing Match</div>

{% if match %}<input type="hidden" name="id" value="{{ match.id }}" />{% endif %}
{% if event %}<input type="hidden" name="event_id" value="{{ event.id }}" />{% endif %}

<div class="input-form">
  <div class="input-row">
    <div class="label">Event:</div>
    <a class="readonly-value" href="/admin/event/{{ event.id }}">{{ event.event_date.strftime("%Y-%m-%d") }}</a>
  </div>

  <div class="input-row">
    <div class="label">Blue Team:</div>
    <select name="blue_team_id">
      {% for team in event.team_set.all() %}
      <option value="{{ team.id }}"{% if match and team.id == match.blue_team_id %} selected="selected"{% endif %}>{{ team.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input-row">
    <div class="label">Gold Team:</div>
    <select name="gold_team_id">
      {% for team in event.team_set.all() %}
      <option value="{{ team.id }}"{% if match and team.id == match.gold_team_id %} selected="selected"{% endif %}>{{ team.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input-row">
    <div class="label">Blue Score:</div>
    <input type="number" name="blue_score" value="{{ match.blue_score if match else 0 }}" />
  </div>

  <div class="input-row">
    <div class="label">Gold Score:</div>
    <input type="number" name="gold_score" value="{{ match.gold_score if match else 0 }}" />
  </div>

  <div class="submit-row">
    <input type="submit" class="submit-match" value="Save" />
  </div>
</div>

{% endblock %}
