{% extends "base_admin.html" %}
{% block content %}

<div class="title">Editing Player: {{ player.name }}</div>

<input type="hidden" name="id" value="{{ player.id }}" />

<div class="input-form">
  <div class="input-row">
    <div class="label">Player Name:</div>
    <input type="text" name="name" value="{{ player.name }}" />
  </div>

  <div class="submit-row">
    <input type="submit" class="submit-player" value="Save" />
  </div>
</div>

<div class="subtitle">Rating History</div>

<div class="standings player-rating-history">
  <div class="row header-row">
    <div class="cell">Event Date</div>
    <div class="cell numeric">Result</div>
    <div class="cell numeric">Rating</div>
    <div class="cell numeric">Change</div>
  </div>

  {% for rating, lastrating in ratings %}
  <div class="row">
    <div class="cell"><a href="/admin/event/{{ rating.match.event.id }}">{{ rating.match.event.event_date.strftime("%B %d, %Y") }}</a></div>
    <div class="cell numeric">{{ rating.match.blue_score if rating.match.blue_team.players.filter(id=player.id).count() else rating.match.gold_score }}-{{ rating.match.gold_score if rating.match.blue_team.players.filter(id=player.id).count() else rating.match.blue_score }}</div>
    <div class="cell numeric">{{ "{:0.2f}".format(rating.mu) }}</div>
    <div class="cell numeric{% if lastrating %} {{ 'positive' if rating.mu > lastrating.mu else 'negative' }}{% endif %}">{% if lastrating %}{{ "{:+0.2f}".format(rating.mu - lastrating.mu) }}{% endif %}</div>
  </div>
  {% endfor %}
</div>


{% endblock %}
