{% extends "base_admin.html" %}
{% block content %}
<div class="title">{% if team %}Editing Team: {{ team.name }}{% else %}Create New Team{% endif %}</div>

{% if team %}<input type="hidden" name="id" value="{{ team.id }}" />{% endif %}

<div class="input-form">
  <div class="input-row">
    <div class="label">Team Name:</div>
    <input type="text" name="name" value="{% if team %}{{ team.name }}{% endif %}" />
  </div>

  <div class="submit-row">
    <input type="submit" class="submit-team" value="Save" />
  </div>
</div>

{% if team %}
<div class="subtitle">Players</div>
<div class="input-form player-list-form team-players">
  {% for player in team.players.all() %}
  <div class="input-row">
    <a class="readonly-value" href="/admin/player/{{ player.id }}" player_id="{{ player.id }}">{{ player.name }}</a>
    <a class="delete-value fa fa-trash" href="#"></a>
  </div>
  {% endfor %}

  <div class="input-row">
    <input type="text" class="player-lookup" value="" /><span class="fa fa-search-plus"></span>
    <div class="player-list"></div>
  </div>
</div>
{% endif %}

{% endblock %}
