{% extends "base_admin.html" %}
{% block content %}
<div class="title">{% if season %}Editing Season: {{ season.name }}{% else %}Create New Season{% endif %}</div>

{% if season %}<input type="hidden" name="id" value="{{ season.id }}" />{% endif %}

<div class="input-form">
  <div class="input-row">
    <div class="label">Name:</div>
    <input type="text" name="name" value="{% if season %}{{ season.name }}{% endif %}" />
  </div>

  <div class="input-row">
    <div class="label">Start Date:</div>
    <input type="text" name="start_date" class="datepicker" value="{% if season %}{{ season.start_date.strftime('%Y-%m-%d') }}{% endif %}" />
  </div>

  <div class="input-row">
    <div class="label">End Date:</div>
    <input type="text" name="end_date" class="datepicker" value="{% if season %}{{ season.end_date.strftime('%Y-%m-%d') }}{% endif %}" />
  </div>

  <div class="input-row">
    <div class="label">Drop Lowest Scores:</div>
    <input type="number" name="drop_lowest_scores" value="{% if season %}{{ season.drop_lowest_scores }}{% endif %}" />
  </div>

  <div class="subtitle">Events</div>

  {% if season %}
  {% for event in season.event_set.order_by("event_date").all() %}
  <div class="input-row">
    <div class="label"><a href="/admin/event/{{ event.id }}">Edit Event</a></div>
    <input type="text" event_id="{{ event.id }}" name="event_{{ event.id }}" class="datepicker" value="{{ event.event_date.strftime('%Y-%m-%d') }}" />
  </div>
  {% endfor %}
  {% endif %}

  <div class="input-row new-input-row">
    <div class="label"></div>
    <input type="text" name="event_new" class="datepicker" />
  </div>

  <div class="submit-row">
    <input type="submit" class="submit-season" value="Save" />
  </div>
</div>

{% endblock %}
