{% extends "base_admin.html" %}
{% block content %}
<div class="title">Editing Event for {{ event.event_date.strftime("%Y-%m-%d") }}</div>

<input type="hidden" name="id" value="{{ event.id }}" />

<div class="subtitle">Event Details</div>
<div class="input-form">
  <div class="input-row">
    <div class="label">Event Date:</div>
    <input type="text" name="event_date" class="datepicker" value="{{ event.event_date.strftime('%Y-%m-%d') }}" />
  </div>

  <div class="input-row">
    <div class="label">Points per Round:</div>
    <input type="number" name="points_per_round" value="{{ event.points_per_round }}" />
  </div>

  <div class="input-row">
    <div class="label">Points per Match:</div>
    <input type="number" name="points_per_match" value="{{ event.points_per_match }}" />
  </div>

  <div class="submit-row">
    <input type="submit" class="submit-event" value="Save" />
  </div>
</div>

{% if not event.is_complete and event.team_set.count() == 0 %}
<div class="subtitle">Unassigned Players</div>
<div class="input-form player-list-form event-unassigned-players">
  {% for player in event.unassigned_players.all() %}
  <div class="input-row">
    <a class="readonly-value" href="/admin/player/{{ player.id }}" player_id="{{ player.id }}">{{ player.name }}</a>
    <a class="delete-value fa fa-trash" href="#"></a>
  </div>
  {% endfor %}

  <div class="input-row">
    <input type="text" class="player-lookup" value="" /><span class="fa fa-search-plus"></span>
    <div class="player-list"></div>
  </div>
</div>
{% endif %}

<div class="subtitle">Teams</div>
{% if event.team_set.count() == 0 %}
<div class="input-form event-teams">
  <div class="input-row">
    <div class="label">Total Players:</div>
    <div class="readonly-value numeric total-player-count">{{ event.unassigned_players.count() }}</div>
  </div>
  <div class="input-row">
    <div class="label">Number of Teams:</div>
    <input type="number" name="num_teams" value="5" />
  </div>

  <div class="submit-row">
    <input type="submit" class="generate-teams" value="Generate Teams" />
  </div>
</div>
{% else %}
<div class="standings event-standings">
  <div class="row header-row">
    <div class="cell">Team Name</div>
    <div class="cell numeric">Points</div>
    <div class="cell numeric">Rounds Won</div>
    <div class="cell numeric">Matches Won</div>
  </div>

  {% for result in event.team_results() %}
  <div class="row-group">
    <div class="row data-row">
      <div class="cell">
        <input type="text" team_id="{{ result['team'].id }}" name="team-name-{{ result['team'].id }}" value="{{ result['team'].name }}" tabindex="{{ loop.index+1 }}" />
        <a tabindex="0" class="edit-team-link" href="/admin/team/{{ result['team'].id }}">(edit)</a>
      </div>
      <div class="cell numeric">{{ "{:0.2f}".format(result["points"]) }}</div>
      <div class="cell numeric">{{ result["rounds"] }}</div>
      <div class="cell numeric">{{ result["matches"] }}</div>
    </div>

    <div class="row player-list-row">
      {% set j = joiner(",\u2002") %}
      {% for player in result["team"].players.all() %}{{ j() }}<a tabindex="0" href="/admin/player/{{ player.id }}">{{ player.name }}</a>{% endfor %}
    </div>
  </div>
  {% endfor %}

  <div class="row submit-row">
    <input type="submit" class="submit-team-names" value="Save Team Names" />
  </div>

  <div class="row submit-row delete-teams-row">
    <input type="submit" class="confirm-submit delete-teams" value="Delete Teams and Events" />
  </div>
</div>
{% endif %}

{% set match = event.current_match() %}
{% if match %}
<div class="subtitle">Current Match</div>

<input type="hidden" name="match_id" value="{{ match.id }}" />

<div class="match-container">
  <div class="info">
    <div class="team blue-team">
      <div class="team-name">{{ match.blue_team.name }}</div>
      <div class="score">{{ match.blue_score }}</div>
    </div>
    <div class="team gold-team">
      <div class="team-name">{{ match.gold_team.name }}</div>
      <div class="score">{{ match.gold_score }}</div>
    </div>
  </div>

  <div class="buttons">
    <div class="button blue minus-1">-</div>
    <div class="button blue plus-1">+</div>
    <div class="button match-complete">Match Complete</div>
    <div class="button gold minus-1">-</div>
    <div class="button gold plus-1">+</div>
  </div>
</div>
{% endif %}

{% if event.match_set.filter(is_complete=False).count() > 0 %}
<div class="subtitle">Remaining Matches</div>

<div class="event-results">
  {% for match in event.match_set.filter(is_complete=False).order_by("id").all() %}
  <div class="result-row admin-match-link" match_id="{{ match.id }}">
    <div class="blue result">
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score"></div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score"></div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if event.match_set.filter(is_complete=True).count() > 0 %}
<div class="subtitle">Completed Matches</div>

<div class="event-results">
  {% for match in event.match_set.filter(is_complete=True).order_by("id").all() %}
  <div class="result-row admin-match-link" match_id="{{ match.id }}">
    <div class="blue result">
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score">{{ match.blue_score }}</div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score">{{ match.gold_score }}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
