{% extends "base_admin.html" %}
{% block content %}

<div class="subtitle">User List</div>

<div class="standings user-list">
  <div class="row header-row">
    <div class="cell">Email</div>
    <div class="cell">Authorized</div>
    <div class="cell"></div>
  </div>

  {% for user in users %}
  <div class="row{% if user.authorized %} authorized{% endif %}" userid="{{ user.id }}">
    <div class="cell">{{ user.email }}</div>
    <div class="cell">{{ "Yes" if user.authorized else "No" }}</div>
    <div class="cell"><a href="#" class="toggle-authorized">{{ "Disable" if user.authorized else "Enable" }}</a></div>
  </div>
  {% endfor %}
</div>

{% endblock %}
