{% extends "base_admin.html" %}
{% block content %}
<div class="title">Admin</div>

<div class="subtitle">Seasons</div>
<ul>
  {% for season in seasons %}
  <li><a href="/admin/season/{{ season.id }}">{{ season.name }}</a></li>
  {% endfor %}
  <li><a href="/admin/season/new" class="create-new">Create New</a></li>
</ul>

{% endblock %}
