<!DOCTYPE html>

<html>
  <head>
    <title>Baltimore Killer Queen</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/mobile.css" media="screen and (max-width: 1279px)" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab" />

    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% if twitch %}<script src="http://player.twitch.tv/js/embed/v1.js"></script>{% endif %}
    <script src="/static/main.js"></script>
  </head>

  <body>
    <div class="header">
      <img src="/static/baltimorebee.png" alt="Baltimore Bee Logo" />
      <a href="/">Baltimore Killer Queen League Standings</a>
    </div>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    <div class="footer">
      <span>Website by <a href="https://gitlab.com/Dennovin">Corey Cossentino</a></span>
      <span class="spacer">&middot;</span>
      <span><a href="https://gitlab.com/Dennovin/kqb">Source</a></span>
    </div>
  </body>
</html>
