<!DOCTYPE html>

<html>
  <head>
    <title>Baltimore Killer Queen</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/mobile.css" media="screen and (max-width: 1279px)" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab" />
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />

    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/manifest.json" />

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google-signin-client_id" content="{{ settings.OAUTH_CLIENT_ID }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/admin.js"></script>

  </head>

  <body{% if adminuser %} class="has-token"{% endif %}>
    <div class="header">
      <div class="header-left">
        <img src="/static/baltimorebee.png" alt="Baltimore Bee Logo" />
        <a href="/admin">Baltimore Killer Queen Admin</a>
      </div>

      {% if not (adminuser and adminuser.authorized) %}
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      {% endif %}
    </div>

    <div class="admin content">
      <div class="admin-nav">
        <a href="/admin/">Seasons</a>
        <a href="/admin/players">Players</a>
        <a href="/admin/users">Admin Users</a>
      </div>

      {% if adminuser and adminuser.authorized %}
      {% block content %}
      {% endblock %}
      {% elif not adminuser %}
      <div class="error">Not logged in.</div>
      {% else %}
      <div class="error">{{ adminuser.email }} is not currently authorized.</div>
      {% endif %}
    </div>
  </body>
</html>
