{% extends "base.html" %}
{% block content %}

{% set current_match = event.current_match() %}

<div class="title season-name"><a href="/season/{{ event.season.id }}">{{ event.season.name }}</a> - {{ event.event_date.strftime("%B %d, %Y") }}</div>

{% if current_match %}

<div class="subtitle">Current Match</div>
<div class="event-results">
  <div class="result-row current-match">
    <div class="blue result">
      <img class="blue-queen" src="/static/blue_queen.png" />
      <div class="blue team">{{ current_match.blue_team.name }}</div>
      <div class="blue score">{{ current_match.blue_score }}</div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ current_match.gold_team.name }}</div>
      <div class="gold score">{{ current_match.gold_score }}</div>
      <img class="gold-queen" src="/static/gold_queen.png" />
    </div>
  </div>
</div>

<div id="twitch-stream" clientid="{{ twitch['client_id'] }}"></div>

{% endif %}

<div class="subtitle">Team Standings</div>

<div class="standings event-standings">
  <div class="row header-row">
    <div class="cell">Team Name</div>
    <div class="cell numeric">Points</div>
    <div class="cell numeric">Rounds Won</div>
    <div class="cell numeric">Matches Won</div>
  </div>

  {% for result in event.team_results() %}
  <div class="row-group" teamid="{{ result['team'].id }}">
    <div class="row data-row">
      <div class="cell">{{ result["team"].name }}</div>
      <div class="cell numeric">{{ "{:0.2f}".format(result["points"]) }}</div>
      <div class="cell numeric">{{ result["rounds"] }}</div>
      <div class="cell numeric">{{ result["matches"] }}</div>
    </div>

    <div class="row player-list-row">
      {% set j = joiner(",\u2002") %}
      {% for player in result["team"].players.all() %}{{ j() }}<a href="/player/{{ player.id }}">{{ player.name }}</a>{% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% if current_match %}

<div class="subtitle">Remaining Matches</div>
<div class="event-results remaining">
  {% for match in event.match_set.filter(is_complete=False).order_by("id").all() %}
  {% if match != current_match %}
  <div class="result-row">
    <div class="blue result">
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score"></div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score"></div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="subtitle">Completed Matches</div>
<div class="event-results completed">
  {% for match in event.match_set.filter(is_complete=True).order_by("id").all() %}
  <div class="result-row complete">
    <div class="blue result{% if match.blue_score > match.gold_score %} winner{% endif %}">
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score">{{ match.blue_score }}</div>
    </div>
    <div class="gold result{% if match.gold_score > match.blue_score %} winner{% endif %}">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score">{{ match.gold_score }}</div>
    </div>
  </div>
  {% endfor %}
</div>

{% elif event.match_set.count() > 0 %}

<div class="subtitle">Match Results</div>
<div class="event-results">
  {% for match in event.match_set.order_by("id").all() %}
  <div class="result-row{% if match == current_match %} current-match{% elif match.is_complete %} complete{% endif %}">
    <div class="blue result{% if match.is_complete and match.blue_score > match.gold_score %} winner{% endif %}">
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score">{{ match.blue_score }}</div>
    </div>
    <div class="gold result{% if match.is_complete and match.gold_score > match.blue_score %} winner{% endif %}">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score">{{ match.gold_score }}</div>
    </div>
  </div>
  {% endfor %}
</div>

{% endif %}

<div class="season-standings-link"><a href="/season/{{ event.season.id }}">View Season Standings</a></div>

{% endblock %}
